<div class="slider">
            <div><%= image_tag("waterIMGL2609_TP_V4.jpg", width:"100%", ) %></div>
            <div><%= image_tag("WPIMGL2488_TP_V4.jpg", width:"100%", ) %></div>
            <div><%= image_tag("WPIMGL2502_TP_V4.jpg", width:"100%", ) %></div>
            <div><%= image_tag("WPIMGL2745_TP_V4.jpg", width:"100%", ) %></div>
            <div><%= image_tag("WPIMGL2771_TP_V4.jpg", width:"100%", ) %></div>
            <div><%= image_tag("WPIMGL2773_TP_V4.jpg", width:"100%", ) %></div>
            <div><%= image_tag("WPIMGL2781_TP_V4.jpg", width:"100%", ) %></div>
            <div><%= image_tag("WPIMGL2784_TP_V4.jpg", width:"100%", ) %></div>
</div>