

 <div class="col-md-8">
<p id="notice"><%= notice %></p>
<% @posts.each do |post| %>
          
          <div class="card mb-4" style="border-radius:30px;">
            <h2 class="card-title card-header"><%= post.title %></h2>
            <div class="card-body">
              <p class="card-text"><%= post.content.truncate(30) %></p>
              <%= link_to 'もっと見る', post, class:"btn btn-info text-light"%>
            </div>
            <div class="card-footer text-muted">
              <p>投稿者:<%= post.name %>  
              投稿日時:<%= post.created_at.strftime("%Y-%m-%d %H:%M:%S") %>
                <%= link_to '編集', edit_post_path(post) %>
                <%= link_to '削除', post, method: :delete, data: { confirm: '本当に削除してよろしいですか?' } %>
              </p>
            </div>
          </div>
<% end %>          
          <!--ページネーション-->
          <ul class="pagination justify-content-center mb-4">
            <li class="page-item">
              <a class="page-link text-dark" href="#">&larr; 前のページ</a>
            </li>
            <li class="page-item">
              <a class="page-link text-dark" href="#">次のページ &rarr;</a>
            </li>
          </ul>  
          
</div>
