<div class="col-md-8">
　 
  <p id="notice"><%= notice %></p>

　 <div class="card">
    <h2 class="card-title card-header bg-dark text-light"><%= @post.title %></h2>
    <div class="card-body">
      <p>
        <strong>Picture:</strong>
        <%= image_tag(@post.picture_url, style: "width: 80%;") if @post.picture.present?  %>
      </p>
      <p class="card-text"><%=  simple_format @post.content %></p>
    </div>
    <div class="card-footer text-muted">
      <p>
        投稿者:<%= @post.name %>  
        投稿日時:<%= @post.created_at.strftime("%Y-%m-%d %H:%M:%S") %>
        カテゴリー:<%= @post.category %>
        <%= link_to '編集', edit_post_path(@post) %>
        <%= link_to '削除', @post, method: :delete, data: { confirm: '本当に削除してよろしいですか?' } %>
        <%= link_to '戻る', posts_path %>
      </p>
    </div>
　 </div>
  <br><strong>コメント: <%= @post.users.count %>　件</strong></br>

  <% @user.each do |comment| %>
    <% if comment.post_id == @post.id %>
      <%= comment.created_at.strftime("%Y-%m-%d %H:%M:%S")%></br>
      <%= comment.comment %>
      <hr>
    <% end %>
  <% end %>

  
</div>